:root { --container-width: 90vw; }
@media (min-width: 576px) { :root { --container-width: 510px; } }
@media (min-width: 768px) { :root { --container-width: 700px; } }
@media (min-width: 1024px) { :root { --container-width: 950px; } }
@media (min-width: 1280px) { :root { --container-width: 1200px; } }
@media (min-width: 1536px) { :root { --container-width: 1450px; } }

body>header {
    background-image: url("cover-image.png");
    background-size: auto 100%;
    background-position-x: calc(((100vw - var(--container-width)) / 2) - 250px);
    background-position-y: center;
    background-repeat: no-repeat;
    background-color: #A0DAF6;
}

header ul li a:not([role="button"]) {
    color: var(--pico-secondary-background);
    text-shadow: #fff 1px 1px 0px, #fff -1px 1px 0px, #fff 1px -1px 0px, #fff -1px -1px 0px;
}

body>footer {
    background-image: url("stoynov-3-blur.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

body>footer p {
    color: #7c7b7b;
    font-size: 0.8rem;
    text-align: center;
    text-shadow: #fff 0 0 5px;
}

body>footer p a {
    color: #03003b98;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.6);
    visibility: hidden;
}

#hero {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: calc(var(--pico-spacing) * 3) calc(var(--pico-spacing) * 5);
}

#hero .call-to-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#hero .call-to-action a[role="button"] {
    flex-shrink: 0;
}

.flag {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: baseline;
}

@media screen and (max-width: 500px) {
    #hero {
        padding: calc(var(--pico-spacing) * 2) calc(var(--pico-spacing) * 1);
    }

    #hero .call-to-action {
        flex-direction: column;
        gap: 1rem;
    }
}
